<form ng-submit="addNovo()" name="frmCadastro" class="form-horizontal">
  <div class="row">
    <div class="col-sm-10 col-md-10">
      <div class="form-group">
        <label class="control-label col-sm-2"> Turma </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" required="true" ng-model="nomeTurma">
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-md-2">
      <input class="btn btn-default" type="submit" value="OK"/>
    </div>
  </div>
</form>
<table class="table">
  <thead>
    <th> Nome </th>
    <th> </th>
  </thead>
  <tbody>
    <tr ng-repeat="m in registros">
      <form class="form">
        <div class="form-group">
  		    <td>{{m.nome}}</td>
        </div>
      </form>
      <td><a class="glyphicon glyphicon-pencil"  ng-href="#!/notas/{{m.key}}"/></td>
    </tr>
  </tbody>
  <tfoot>

  </tfoot>
</table>
