<!DOCTYPE html>
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>
<script type="text/javascript" src="inicio.js">
	
</script>
</head>
<body>
	<h1>olá mundo 2</h1>
	<input type="text" ng-model="nome">
	<p>Olá, Tableless! Meu nome é: {{ nome }}</p>


	<h1>Exibindo Itens</h1>

	<div ng-controller="ListaComprasController">
		<table>
			<thead>
				<tr>
					<th>Produto</th>
					<th>Quantidade</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in itens">
					<td><strong>{{ item.produto }}</strong></td>
					<td>{{ item.quantidade }}</td>
			</tbody>
		</table>

		<h1>Adicionando produto</h1>

		<form class="form-inline" name="formItem">
			<input type="text" ng-model="item.produto"> <input
				type="number" ng-model="item.quantidade">
			<button ng-click="adicionarItem()">adicionar</button>
		</form>


	</div>



</body>
</html>