

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
          <h3 class="panel-title">Revisões</h3>
    </div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th> Data </th>
          <th> Materia </th>
          <th> Material </th>
          <th> Status </th>
        </thead>
        <tbody>
          <tr ng-repeat="n in agendamento | limitTo: 10">
            <td>{{n.data}}</td>
            <td>{{n.materia}}</td>
            <td>{{n.material}}</td>
            <td>{{n.status}}</td>
            <td><a ng-click="concluirRevisao(n)">X</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
          <h3 class="panel-title">Horas de Estudo (min)</h3>
    </div>
    <div class="panel-body">
      <canvas id="pie" class="chart chart-bar"
        chart-data="chtBarras.data" chart-labels="chtBarras.labels" chart-options="chtBarras.options"
        chart-series="chtBarras.series"
        chart-colors="chtBarras.colors" chart-click="onClickBarras">
      </canvas>
    </div>
  </div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
          <h3 class="panel-title">Horas/Semana</h3>
    </div>
    <div class="panel-body">
      <canvas id="pie" class="chart chart-pie"
        chart-data="vm.chtPzData" chart-labels="chtPzLabel">
      </canvas>
    </div>
  </div>
</div>

<!-- HORAS POR SEMANA -->
<div class="col-xs-12 col-sm-6 col-md-6">
  <div class="panel panel-default">
    <div class="panel-heading">
          <h3 class="panel-title">Horas/Semana</h3>
    </div>
    <div class="panel-body">
      <canvas id="pie" class="chart chart-pie" chart-options="chtSemana.options"
        chart-data="chtSemana.data" chart-labels="chtSemana.labels">
      </canvas>
    </div>
  </div>
</div>
</div>

<!-- aproveitamento -->
<div class="row">
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
            <h3 class="panel-title">Aproveitamento</h3>
      </div>
      <div class="panel-body">
        <canvas id="pie" class="chart chart-bar" chart-options="chtAproveitamento.options"
          chart-data="chtAproveitamento.data" chart-labels="chtAproveitamento.labels">
        </canvas>
      </div>
    </div>
  </div>
</div>
