<form ng-submit="addRegistro()" name="frmCadastro" class="form">

  <div class="form-group">
    <label> Nome </label> <input type="text" class="form-control"
    ng-model="registro.nome" required="required">
  </div>

  <input type="submit" value="OK"/>

</form>

<br>

<div class="card text-center">
  <div class="card-block">
    <h4 class="card-title">Special title treatment</h4>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>
  <div class="card-footer text-muted">
    <a href="#" class="btn btn-primary glyphicon glyphicon-ok"></a>
    <a href="#" class="btn btn-danger glyphicon glyphicon-remove"></a>
  </div>
</div>

<div class="panel panel-prymary">
  <div class="panel-body">
    Panel content
  </div>
  <div class="panel-footer">
    <a href="#" class="btn btn-primary glyphicon glyphicon-ok"></a>
    <a href="#" class="btn btn-danger glyphicon glyphicon-remove"></a>
  </div>
</div>
