<!DOCTYPE html>
<html ng-app>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>

<script type="text/javascript" src="server.js">
	
</script>
<script type="text/javascript" src="catequista.js">
	
</script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<h1>Lista de Garcom</h1>

		<div ng-controller="RestController">

			nome:
			<p>{{ statusreq }}</p>
			nome:
			<p>{{ garcons }}</p>

			<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Codigo</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in garcons">
						<td><strong>{{ item.nmGar }}</strong></td>
						<td>{{ item.nroGar }}</td>
				</tbody>
			</table>
		</div>


		<div class="panel panel-default">
			<div ng-controller="CatequistaController">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>codigo</th>
							<th>nome</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in catequistas">
							<td><strong>{{ item.id }}</strong></td>
							<td>{{ item.nome }}</td>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>