<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

<div class="col-xs-10">
	<form>
		<div class="form-group">
			<label> Nome </label> <input type="text" class="form-control"  ng-model="catequizando.nome">
		</div>
		<div class="form-group">
			<label> Data Nascimento </label> <input type="date" class="form-control" 
				ng-model="catequizando.nascimento">
		</div>

		<div class="form-group">
			<label> Nome Pai </label> <input type="text" class="form-control" 
				ng-model="catequizando.nomePai">
		</div>
		<div class="form-group"> 
			<label> Nome Mãe </label> <input type="text" class="form-control" 
				ng-model="catequizando.nomeMae">
		</div>
		<div class="form-group">
			<label> Endereço </label> <input type="text" class="form-control" 
				ng-model="catequizando.endereco"> 
		</div>
		<div class="form-group">
			<label> Observação </label> <input type="text" class="form-control" 
				ng-model="catequizando.observacao">
		</div>
		<button ng-click="" ></button>
	</form>
</div>